@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    text-decoration: none;
    border: none;
    outline: none;
    scroll-behavior: smooth;
    font-family: "Poppins", sans-serif;

}

html {
    font-size: 62.5%;
    overflow-x: hidden;
}

body {
    background-color: rgb(28, 33, 37);
    color: rgb(255, 255, 255);
    overflow-y: hidden;
}

::selection {
    background: transparent;
    text-shadow: 0 0 1rem #00e9f5;
}

section {
    min-height: 100vh;
    padding: 10rem 10% 2rem;
}

.btn-i:hover,
.btn-i:focus {
    box-shadow: 0 0.5em 0.5em -0.4em var(--hover);
    transform: translateY(-0.50em);
}

/* Loading Screen */
#loading-screen {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgb(28, 33, 37);
    /* Background color of the loader screen */
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1000;
    /* Make sure it's on top of everything */
}

.loader {
    width: 40px;
    aspect-ratio: 1;
    position: relative;
}

.loader:before {
    content: '';
    position: absolute;
    inset: 0;
    border-radius: 50%;
    --c: #0000, #00e9f5 1deg 120deg, #0000 121deg;
    background:
        conic-gradient(from 0deg, var(--c)) top right,
        conic-gradient(from 120deg, var(--c)) bottom,
        conic-gradient(from 240deg, var(--c)) top left;
    background-size: 40px 40px;
    background-repeat: no-repeat;
    animation: l25 2s infinite cubic-bezier(0.3, 1, 0, 1);
}

@keyframes l25 {
    33% {
        inset: -8px;
        transform: rotate(0deg);
    }

    66% {
        inset: -8px;
        transform: rotate(180deg);
    }

    100% {
        inset: 0;
        transform: rotate(180deg);
    }
}

/*--------HEADER SECTION--------*/

.header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 2rem 9%;
    background-color: rgb(28, 33, 37);
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 100;
}

.header .sticky {
    border-bottom: .1rem solid rgba(0, 0, 0, .2);
}

.logo {
    font-size: 3.5rem;
    color: rgb(255, 255, 255);
    font-weight: 500;
    cursor: pointer;
}

.navbar a {
    font-size: 2rem;
    color: rgb(255, 255, 255);
    margin-left: 4rem;
    transition: .3s;
}

.navbar a:hover,
.navbar a.active {
    color: rgb(0, 233, 250);
    text-shadow: 0 0 .5rem rgb(0, 233, 250);
}

#menu-icon {
    font-size: 4rem;
    color: #00e9fa;
    display: none;
}

/* HOME SECTION */

.home {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 2rem;

}

.home-img img {
    width: 30vw;
    animation: floatImage 4s ease-in-out infinite;
}

@keyframes floatImage {
    0% {
        transform: translateY(0);
    }

    50% {
        transform: translateY(-2.4rem);
    }

    100% {
        transform: translateY(0);
    }
}

.home-content h3:nth-of-type(2) {
    margin-bottom: 1rem;
}

span {
    color: rgb(0, 233, 250);
}

.home-content h3 {
    font-size: 3rem;
    font-weight: 500;
}

.home-content h1 {
    font-size: 5rem;
    font-weight: 600;
    line-height: 1.3;
}

.home-content p {
    font-size: 2rem;
    margin-right: 10rem;
}

.social-media a {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: 5rem;
    height: 5rem;
    background: transparent;
    border: .2rem solid rgb(0, 233, 250);
    border-radius: 50%;
    font-size: 3rem;
    color: rgb(0, 233, 250);
    margin: 3rem 1rem 3rem 0;
    transition: .5s ease;
}

.social-media a:hover {
    background-color: rgb(0, 233, 250);
    color: rgb(0, 0, 0);
    box-shadow: 0 0 1rem rgb(0, 233, 250);
}

.btn {
    display: inline-block;
    padding: 1rem 2.8rem;
    background: rgb(0, 233, 250);
    border-radius: 4rem;
    box-shadow: 0 0 1rem rgb(0, 233, 250);
    font-size: 2rem;
    color: rgb(0, 0, 0);
    letter-spacing: .1rem;
    font-weight: 600;
    transition: .5s ease;
}

.btn:hover {
    box-shadow: none;
}

/* ABOUT SECTION  */

.about {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 2rem;
    background: rgba(134, 134, 134, 0.226);
}

.about-img img {
    width: 35vw;
    animation: floatImage 4s ease-in-out infinite;
}

@keyframes floatImage {
    0% {
        transform: translateY(0);
    }

    50% {
        transform: translateY(-2.4rem);
    }

    100% {
        transform: translateY(0);
    }
}

.heading {
    text-align: center;
    font-size: 4rem;
}

.about-content h2 {
    text-align: left;
    line-height: 1.5;
}

.about-content h3 {
    font-size: 2.5rem;
}

.about-content p {
    font-size: 2rem;
    margin: 1rem 0 3rem;
}

/* SERVICES SECTION */

.services h2 {
    margin-bottom: 5rem;
}

.services-container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 2rem;
}

.services-container .services-box {
    flex: 1 1 30rem;
    background: rgba(134, 134, 134, 0.226);
    padding: 3rem 2rem 4rem;
    border-radius: 2rem;
    text-align: center;
    border: .2rem solid rgba(109, 107, 107, 0.459);
    transition: .5s ease;
}

.services-container .services-box:hover {
    border-color: rgb(0, 233, 250);
    transform: scale(1.02);
    box-shadow: 0 0 1rem rgb(0, 233, 250);
}

.services-box i {
    font-size: 5rem;
    color: rgb(0, 233, 250);
}

.services-box h3 {
    font-size: 2.5rem;
}

.services-box p {
    font-size: 2rem;
    margin: 1rem 0 3rem;
}

/* PROJECT SECTION */

.project {
    background: rgba(134, 134, 134, 0.226);
}

.project h2 {
    margin-bottom: 4rem;
}

.project-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    align-items: center;
    gap: 1rem;
}

.project-container .project-box {
    position: relative;
    border-radius: 2rem;
    box-shadow: 0 0 1rem rgba(134, 134, 134, 0.226);
    overflow: hidden;
    display: flex;
}

.project-box img {
    width: 100%;
    transition: .5s ease;
}

.project-box:hover img {
    transform: scale(1.1);
}

.project-box .project-layer {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(rgba(0, 0, 0, .1), rgb(0, 233, 250));
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align: center;
    padding: 0 4rem;
    transform: translateY(100%);
    transition: .5s ease;
}

.project-box:hover .project-layer {
    transform: translateY(0);
}

.project-layer h4 {
    font-size: 3rem;
}

.project-layer p {
    font-size: 2rem;
    margin: .3rem 0 1rem;
}

.project-layer a {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: 7rem;
    height: 7rem;
    background: rgb(255, 255, 255);
    border-radius: 50%;
}

.project-layer a i {
    font-size: 3rem;
    color: rgb(28, 33, 37);
}

/* CONTACT SECTION */
.contact h2 {
    margin-bottom: 3rem;
}

.contact form {
    max-width: 80rem;
    margin: 1rem auto;
    text-align: center;
    margin-bottom: 3rem;

}

.contact form .input-box {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    margin: 0 0 1rem 0;
}

.contact form .input-box input,
.contact form textarea {
    width: 100%;
    height: auto;
    padding: 1.5rem;
    font-size: 2rem;
    color: rgb(255, 255, 255);
    background: rgba(134, 134, 134, 0.226);
    border-radius: .8rem;
    margin: .7rem 0;
}

.contact form .input-box input {
    margin: 0 0 1rem 0;
    width: 100%;
}

.contact form textarea {
    resize: none;
}

.contact form .btn {
    margin-top: 2rem;
    cursor: pointer;
}

.contact form .field {
    border: .2rem solid #00e5f9;
    outline: none;
    transition: .3s;
}

.contact form .field:hover,
.contact form .field:focus {
    box-shadow: 0 0.5em 0.5em -0.4em #00e9f5;
    transform: translateY(-0.50em);
}

/* SWEET ALERT */
/* Custom styles for the loading alert */
.custom-swal {
    border: 2px solid #00e9fa;
    /* Change the ring color here */
    border-radius: 10px;
    /* Adjust border radius */
    box-shadow: 0 4px 20px #00e9fa;
    /* Optional shadow effect */
    background-color: #333;
    /* Change background color */
    color: #ffffff;
    /* Change font color */
    font-size: 1.5rem;

}

/* Additional styles for text elements in the popup */
.custom-swal h2,
.custom-swal p {
    color: #ffffff;
    /* Change color for header and paragraph text */
}

/* For Success Alerts */
.popup {
    padding: 2rem;
    background-color: #333;
    /* Light gray background for success */
    font-size: 1.5rem;
    color: #fff;
    border-radius: 8px;
    box-shadow: 0px 0px 20px #00e9f5;
    /* shadow */
}

/* Customize the success icon color */
.swal2-icon.swal2-success {
    border-color: #00e9fa;
    /* Change to your desired color */
}

.swal2-success-ring {
    border-color: #00e9fa;
}

.swal2-icon.swal2-success [class*="line"] {
    background-color: #00e9fa;
    /* Change the color of the checkmark lines */
}

.title {
    color: #00e9f5;
    /* color for the title */
    font-size: 22px;
    font-weight: bold;
}

.content {
    color: #fff;
    /*  color for content */
    font-size: 19px;
}

.confirm-button {
    background-color: #00e9f5;
    /*  background for confirm button */
    box-shadow: 0 0 10px #00e9f5;
    color: white;
    font-size: 16px;
    padding: 10px 20px;
    border-radius: 20px;
    border: none;
    transition: .5s ease;

    &:hover {
        box-shadow: none;
    }
}

/* For Error Alerts */
.popup-error {
    padding: 2rem;
    background-color: #333;
    /*  background for error */
    font-size: 1.5rem;
    color: #fff;
    border-radius: 8px;
    box-shadow: 0px 0px 20px #00e9f5;
    /*  shadow */
}

.title-error {
    color: #dc3545;
    /*  color for the title */
    font-size: 22px;
    font-weight: bold;
}

.content-error {
    color: #ffffff;
    /* Darker  for content */
    font-size: 18px;
}

.confirm-button-error {
    background-color: #00e9f5;
    /*  background for confirm button */
    box-shadow: 0 0 10px #00e9f5;
    color: white;
    font-size: 16px;
    padding: 10px 20px;
    border-radius: 20px;
    border: none;
    transition: .5s ease;

    &:hover {
        box-shadow: none;
    }
}

/* FOOTER SECTION */
.footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    padding: 2rem 9%;
    background: rgba(134, 134, 134, 0.227);
}

.footer-text p {
    font-size: 2rem;
}

.footer-iconTop a {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    padding: .8rem;
    background: rgb(0, 233, 250);
    box-shadow: 0 0 1rem rgb(0, 233, 250);
    border-radius: .8rem;
    transition: .3s;
}

.footer-iconTop a:hover {
    box-shadow: none;
}

.footer-iconTop a i {
    font-size: 3rem;
    color: rgb(28, 33, 37);
}

/* BREAK POINT */
@media (max-width: 1200px) {
    html {
        font-size: 50%;
    }

    body {
        overflow-x: hidden;
    }
}

@media (max-width:991px) {

    body {
        overflow-x: hidden;
    }

    .header {
        padding: 2rem 3%;
    }

    .section {
        padding: 10rem 3% 2rem;
    }

    .services {
        padding-bottom: 7rem;
    }

    .project {
        padding-bottom: 7rem;
    }

    .contact {
        min-height: auto;
    }

    .footer {
        padding: 2rem 3%;
    }
}

@media(max-width:768px) {

    body {
        overflow-x: hidden;
    }

    #menu-icon {
        display: block;
    }

    .navbar {
        position: absolute;
        top: 100%;
        left: 0;
        width: 100%;
        padding: 1rem 3%;
        background: rgb(28, 33, 37);
        border-top: .1rem solid rgba(0, 0, 0, .2);
        box-shadow: 0 .5rem rgba(0, 0, 0, .2);
        display: none;
    }

    .navbar.active {
        display: block;
    }

    .navbar a {
        display: block;
        font-size: 2rem;
        margin: 3rem 0;
    }

    .home {
        flex-direction: column;
    }

    .home h3 {
        font-size: 2.6rem;
    }

    .home-content h1 {
        font-size: 5rem;
    }

    .home-img img {
        width: 70vw;
        margin-top: 4rem;
    }

    .about {
        flex-direction: column-reverse;
    }

    .about img {
        width: 70vw;
        margin-top: 4rem;
    }

    .services h2 {
        margin-bottom: 3rem;
    }

    .project h2 {
        margin-bottom: 3rem;
    }

    .project-container {
        grid-template-columns: repeat(2, 1fr);
    }
}

@media(max-width:768px) {

    body {
        overflow-x: hidden;
    }

    .project-container {
        grid-template-columns: 1fr;
    }
}

@media(max-width:450px) {

    body {
        overflow-x: hidden;
    }

    html {
        font-size: 50%;
    }

    .contact form .input-box input {
        width: 100%;
    }
}

@media(max-width:365px) {

    body {
        overflow-x: hidden;
    }

    .home-content h1 {
        font-size: 4rem;
    }

    .home h3 {
        font-size: 2rem;
    }

    .home-content p {
        font-size: 1.6rem;
        margin-right: 0rem;
    }

    .home-img img {
        width: 80vw;
    }

    .about-img img {
        width: 80vw;
    }

    .footer {
        flex-direction: column-reverse;
    }

    .footer p {
        text-align: center;
        margin-top: 2rem;
    }
}